<!DOCTYPE html>
html(lang="ja")
	head
		meta(charset="UTF-8")
		title 適当マインスイーパー
		link(rel="stylesheet", href="./scss/index.scss")
	body
		header 
			nav 
				input#menu-toggle(type='checkbox')
				label(for="menu-toggle" ) &#9776;
				a(href="./") Pure TS Version
				a(href="./?react") React TS Version
				a(href="./?vue") Vue TS Version
		#app
		noscript noscript
		script(src="./ts/branch.ts")